

@font-face {
   font-family: 'pixellife_small_cap';
    src: url('fonts/PIXEL-LI-webfont.eot');
    src: url('fonts/PIXEL-LI-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PIXEL-LI-webfont.woff2') format('woff2'),
         url('fonts/PIXEL-LI-webfont.woff') format('woff'),
         url('fonts/PIXEL-LI-webfont.ttf') format('truetype'),
         url('fonts/PIXEL-LI-webfont.svg#pixellife_small_cap') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'upheaval_proregular';
    src: url('fonts/UpheavalPro-webfont.eot');
    src: url('fonts/UpheavalPro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/UpheavalPro-webfont.woff2') format('woff2'),
         url('fonts/UpheavalPro-webfont.woff') format('woff'),
         url('fonts/UpheavalPro-webfont.ttf') format('truetype'),
         url('fonts/UpheavalPro-webfont.svg#upheaval_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}