/* BASE */
body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover; }

h1, li, a, h1 a {
  font-family: "pixellife_small_cap";
  color: white; }

h2 {
  font-family: "upheaval_proregular";
  color: black;
  font-size: 1.8em; }

ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 16px; }

nav ul li {
  display: inline; }

li {
  font-size: 2.3em;
  margin-left: 20px; }

nav {
  text-align: center; }

/* unvisited link */
a:link {
  text-decoration: none;
  color: black; }

/* visited link */
a:visited {
  text-decoration: none;
  color: black; }

/* mouse over link */
a:hover {
  text-decoration: none;
  color: grey; }

/* selected link */
a:active {
  text-decoration: none;
  color: black; }

/* FOOTER LINK STYLES */
/* unvisited link */
.footer-style a:link {
  text-decoration: none;
  color: white; }

/* visited link */
.footer-style a:visited {
  text-decoration: none;
  color: white; }

/* mouse over link */
.footer-style a:hover {
  text-decoration: none;
  color: grey; }

/* selected link */
.footer-style a:active {
  text-decoration: none;
  color: white; }

/* LAYOUT */
.align-center {
  margin: auto;
  text-align: center; }

.footer-text {
  font-size: 1.9em; }

.white-background {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 15px; }

.main-text {
  font-family: "upheaval_proregular";
  font-size: 1.8em;
  color: black; }

.share-content-nav {
  color: black;
  font-family: "upheaval_proregular"; }

.skill-layout {
  margin-left: 4px; }

.skill-style {
  font-family: sans-serif;
  color: black;
  font-size: 1.1em;
  list-style: square; }

.black-text {
  color: black; }

.white-text a {
  color: white; }

/* Video EMBed responsive code */
.responsive-vid {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden; }

.responsive-vid iframe,
.responsive-vid object,
.responsive-vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* END OF = Video EMBed responsive code */
/* MODULE */
/* STATE */
/* THEME */
/* FORM */
input, textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  border: black solid 3px;
  font-size: 2em;
  color: black;
  background-color: white;
  font-family: "upheaval_proregular"; }

label {
  margin-bottom: 0px;
  font-size: 1.5em;
  color: white; }

.error {
  color: white; }

form {
  width: 100%; }

.val-style {
  text-align: center; }
